<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <img class="logo" src="/public/images/alien.jpg" alt="">
        </div>
        <ul class="nav-bar">
            <li><a href="/">Home Page</a></li>
            <li><a href="/about">About Page</a></li>
            <li><a href="/works">Works Page</a></li>
            <li><a href="/gallery">Photo gallery</a></li>
        </ul>
    </nav>

    <section class="hero">
        <h1>About Page</h1>
        <p>Welcome to the cosmos, where Xylophorian, an interstellar envoy, has journeyed to Earth to unravel the mysteries of extraterrestrial life and unidentified flying objects (OVNIs). With a heart full of benevolence, Xylophorian invites you to explore the diverse alien civilizations—from the harmonious Lyran beings to the enigmatic energy beings of Arcturus. Join this cosmic odyssey, where ordinary turns extraordinary, and discover the wonders of the universe through the eyes of an alien emissary.</p>
    </section>
   
    <script src="js/index.js"></script>
</body>
</html>