<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <img class="logo" src="/public/images/alien.jpg" alt="">
        </div>
        <ul class="nav-bar">
            <li><a href="/">Home Page</a></li>
            <li><a href="/about">About Page</a></li>
            <li><a href="/works">Works Page</a></li>
            <li><a href="/gallery">Photo gallery</a></li>
        </ul>
    </nav>

    <section class="hero">
        <h1>Welcome to my express-terreste basic site</h1>
        <p>the express site from another world</p>
    </section>
    
</body>
</html>