<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <img class="logo" src="/public/images/alien.jpg" alt="">
        </div>
        <ul class="nav-bar">
            <li><a href="/">Home Page</a></li>
            <li><a href="/about">About Page</a></li>
            <li><a href="/works">Works Page</a></li>
            <li><a href="/gallery">Photo gallery</a></li>
        </ul>
    </nav>

    <section>
        <h1>Works Page</h1>
    </section>

    <article>
        <ol>
            <li> 
                <img class="alien" src="images/alien1.jpeg" alt="alien picture">
                <br>
                <strong>Xylophorian: The Cosmic Ambassador</strong>
                <br>
                Xylophorian is a celestial being from the outer reaches of the cosmos, dedicated to fostering interstellar harmony. With an otherworldly wisdom, Xylophorian has traversed the cosmic expanse to share knowledge about different alien civilizations and mysterious unidentified flying objects (OVNIs). Its benevolent heart and interstellar perspective make it a guiding light in the exploration of the wonders beyond our understanding.
            </li>
            <li> 
                <img class="alien" src="images/alien2.jpeg" alt="">
                <br>
                <strong>Lyran Beings: Harmonious Guardians</strong>
                <br>
                Hailing from the Lyra constellation, the Lyran beings are known for their harmonious existence and profound spiritual insights. With an advanced civilization, they contribute to the cosmic balance, embodying the essence of unity and interconnectedness.
            </li>
            <li> 
                <img class="alien" src="images/alien3.jpeg" alt="">
                <br>
                <strong>Arcturian Energy Beings: Enigmatic Guardians of Light</strong>
                <br>
                The Arcturian energy beings emanate an enigmatic energy that transcends conventional understanding. Guardians of light and wisdom from the Arcturus star system, they bring a unique perspective to the cosmic tableau, guiding those who seek a deeper connection with the universal energies.
            </li>
            <li> 
                <img class="alien" src="images/alien4.webp" alt="">
                <br>
                <strong>Stich: The Quirky Cosmic Explorer</strong>
                <br>
                Amidst the cosmic tapestry, Stich emerges as a quirky and adventurous cosmic explorer. Hailing from an uncharted corner of the galaxy, Stich possesses an insatiable curiosity about the cosmos. With a playful spirit and a love for discovery, Stich adds a touch of spontaneity to the cosmic ensemble, reminding us that exploration can be as joyful as it is enlightening.
            </li>
        </ol>
    </article>
    
    <script src="js/index.js"></script>
</body>
</html>